* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bg1: rgb(0, 20, 80);
    --bg2: rgb(100, 0, 0);
    --text: white;
    --accent: rgb(255, 255, 255);
    --accent-darker: rgb(219, 219, 219);
}
.rows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.cols {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg2);
    position: relative;
    transition: background-color 0.2s ease-out 0.7s;
    user-select: none;
}
body:has(main.player1){
    background-color: var(--bg1);
    transition: background-color 0.2s ease-out 0.7s;
}
button {
    margin-top: 1.3rem;
    padding: 6px 15px;
}
.restart-btn {
    z-index: 0;
}
main {
    aspect-ratio: 1/1;
    height: min(90vw - 2rem, 90vh - 2rem);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.card {
    background-color: var(--accent);
    border-radius: 8px;
    margin: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.7s ease-out 0.5s, color 0s linear 0.7s;
    user-select: none;
    transform: rotateY(-180deg);

    color: transparent;
    font-size: 2.2rem;
    font-weight: bolder;
}
.card:hover {
    background-color: var(--accent-darker);
}
.card:active {
    background-color: var(--text);
}
.card.flipped {
    transform: rotateY(0deg);
    transition: transform 0.4s ease-out 0s, color 0s linear 0.2s;

    color: var(--bg);
}
.win {
    background-color: transparent;
    color: transparent;
    position: absolute;
    height: 100vh;
    width: 100vw;
    font-size: 2.2rem;
    pointer-events: none;
}
.win.active {
    color: var(--text);
    background-color: rgba(0, 0, 0, 0.6);
}
.scores {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: space-between;
    padding: 10px;
    pointer-events: none;
}
.scores > * {
    background-color: var(--text);
    color: var(--bg);
    font-size: 3rem;
    font-weight: bolder;
    padding: 8px 20px;
    border-radius: 6px;
}